.root {
    -fx-font-family: "Helvetica Neue";
    -fx-base: #EFF1C2;
}

.header {
    -fx-background-color: #B7C11E;
    -fx-pref-width: 1200px;
    -fx-spacing: 10px;
    -fx-padding: 5px 0px 5px 5px;
}

.save-button {
    -fx-padding: 8px 0px 0px 60px;
    -fx-background-image: url("/save.png");
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-color: inherit;
}

.save-button:pressed {
    -fx-background-image: url("/savepressed.png");
}

.add-button {
    -fx-padding: 10px;
    -fx-background-image: url("/add.png");
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-color: inherit;
}

.add-button:pressed {
    -fx-background-image: url("/addpressed.png");
}

.remove-button {
    -fx-padding: 10px;
    -fx-background-image: url("/remove.png");
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-color: inherit;
}

.remove-button:pressed {
    -fx-background-image: url("/removepressed.png");
}

.detail {
}

.presentation {
    -fx-padding: 20px;
    -fx-vgap: 20px;
    -fx-hgap: 40px;

    -fx-font-size: 20px;
}

.rank {
    -fx-font-size: 100px;
    -fx-text-fill: #23A38F;
}

.edit {
    -fx-padding: 20px;
    -fx-hgap: 20px;
    -fx-vgap: 10px;
}
